.news {
  padding-top: 31px;
  padding-bottom: 28px;

  border-bottom: 1px solid $border-color-light;

  background-color: $bg-color-light;
}

.news__wrapper {
  padding: 0 20px;
}

.news__title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.news__list {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  list-style: none;
}

.news__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.news__date {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  margin-top: 9px;
  margin-right: 20px;
  padding-top: 3px;
  padding-bottom: 4px;

  font-size: 16px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  color: #ffffff;

  background-color: #000000;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    display: block;
    border: 25px solid transparent;
    border-bottom: none;
    border-top: 10px solid #000000;
  }
}

.news__day {
  display: block;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}

.news__text {
  margin: 0;

  font-size: 18px;
  line-height: 27px;
}

@media (min-width: 768px) {
  .news {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .news__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
  }

  .news__title {
    padding-top: 10px;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
  }

  .news__list {
    display: flex;
    order: 1;
    margin-bottom: 0;
  }

  .news__item {
    flex-basis: 50%;
    flex-shrink: 0;
    padding-top: 31px;
    padding-right: 30px;
  }

  .news__date {
    margin-top: 11px;
  }

  .news__short-text {
    display: none;
  }

  .news__to-all {
    padding-left: 30px;
    padding-right: 30px;
  }
}
