.order {
  padding-bottom: 70px;

  &__service-info {
    margin-bottom: 29px;
  }

  &__service-info [name="service-info"] {
    min-height: 112px;
    padding-top: 8px;

    text-align: left;
  }

  &__service-type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  &__service-type .form__heading {
    flex-basis: 100%;
  }

  &__extra {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    line-height: 30px;
  }

  &__extra .field-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__extra .field-checkbox::before {
    content: "";

    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 23px;

    border: 1px solid $border-color-light;
  }

  &__extra [type="checkbox"] {
    display: none;
  }

  & [type="checkbox"]:checked + .field-checkbox::after {
    content: "";

    position: absolute;
    left: 0;
    width: 34px;
    height: 34px;

    background-image: url("../../../img/icon-input-checked.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__submit {
    width: 100%;
    color: #ffffff;
    background-color: $bg-color-accent;
  }

  @media (min-width: 768px) {
    clear: both;
    padding-top: 45px;
    padding-bottom: 76px;

    &__client-info {
      display: flex;
      margin-bottom: 30px;
    }

    &__client-info .field-text {
      flex-basis: calc(100% / 3);
    }

    &__client-info [for="name-field"] {
      order: -1;
    }

    &__contacts {
      margin-bottom: 28px;
    }

    &__contacts [for="phone-field"] {
      margin-bottom: 35px;
    }

    &__service-info {
      margin-bottom: 45px;
    }

    &__service-info [name="service-info"] {
      min-height: 211px;
      padding-top: 19px;
    }

    &__service-type {
      margin-bottom: 30px;
    }

    &__service-type .form__heading {
      margin-bottom: 45px;
    }

    &__extra {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 13px;
    }

    &__extra .form__heading {
      margin-bottom: 70px;
    }

    &__extra > .field-checkbox {
      flex-basis: calc(100% / 2);
      margin-bottom: 47px;
    }

    &__submit {
      height: 70px;

      font-size: 24px;
      line-height: 30px;
    }
  }
}
