.form {
  &__fieldset {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    border: none;
  }

  &__heading {
    margin: 0;
    margin-bottom: 35px;

    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
}
