@media (min-width: 768px) {
  .page-portfolio .page-header {
    min-height: 285px;
  }

  .page-portfolio .page-header__logo-link {
    margin-left: 11px;
  }
}

@media (min-width: 1080px) {
  .page-portfolio .page-header {
    min-height: 380px;
  }
}
