.success-popup {
  & .modal-form__btn-close {
    @include buttonDarkActions;

    flex-basis: 100%;

    color: #ffffff;
    background-color: $bg-color-accent;

    &::before {
      content: "Закрыть окно";
    }
  }
}
