.projects {
  padding-top: 30px;
  padding-bottom: 47px;

  background-color: $bg-color-light;
}

.projects__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.projects__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
