.copyright__text {
  display: block;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 27px;
}

.copyright__link {
  width: 280px;
  margin: 0 auto;

  color: #ffffff;

  background-color: $bg-color-dark;

  @include buttonBlackActions;
}
