.project {
  margin-bottom: 20px;
}

.project__picture {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.project__image {
  display: block;
}

.project__image-tag {
  position: absolute;
  bottom: 32px;
  height: 50px;
  padding-left: 25px;
  padding-right: 17px;

  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: #ffffff;

  background-color: $bg-color-accent;

  &::after {
    content: "";
    position: absolute;
    right: -9px;
    top: 0;

    border-top: 25px solid $bg-color-accent;
    border-bottom: 25px solid $bg-color-accent;
    border-right: 10px solid transparent;
  }
}

.project__info {
  margin: 0;
  padding: 20px;
  padding-top: 22px;
  padding-left: 22px;
  padding-bottom: 0;

  border: 1px solid $border-color-light;
  border-top: none;
}

.project__title {
  display: block;
  margin-bottom: 13px;

  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
}

.project__description {
  margin: 0;
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  list-style: none;
}

.project--featured .project__list {
  margin-bottom: 0;
}

.project__list-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 36px;
  margin-bottom: 19px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 17px;
    margin-top: 3px;

    background-repeat: no-repeat;
    background-position: center;
  }
}

.project__list-item--cut::before {
  background-image: url("../../../img/scissors-icon.svg.png");
}

.project__list-item--shave::before {
  background-image: url("../../../img/beard-icon.svg.png");
}

.project__list-item--stash::before {
  width: 45px;
  margin-left: -10px;

  background-image: url("../../../img/mustache-icon.svg.png");
}

@media (min-width: 768px) {
  .project {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 41px;
    outline: 1px solid $border-color-light;

    & > * {
      flex-basis: 50%;
      flex-shrink: 0;
    }
  }

  .project__image {
    display: none;
    transform: scale(1.005);
  }

  .project__picture::before {
    content: "";
    display: block;
    width: 270px;
    height: 293px;

    transform: scale(1.005);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project:first-of-type .project__image {
    display: block;
    margin-left: -10px;
  }

  .project:nth-of-type(1) .project__picture::before {
    content: none;
  }

  .project:nth-of-type(2) .project__picture::before {
    background-image: url("../../../img/photo-2-tablet.jpg");
  }

  .project:nth-of-type(3) .project__picture::before {
    background-image: url("../../../img/photo-3-tablet.jpg");
  }

  .project:nth-of-type(4) .project__picture::before {
    background-image: url("../../../img/photo-4-tablet.jpg");
  }

  .project .project__image-tag {
    bottom: auto;
    top: 33px;
    left: -2px;
    padding-left: 20px;
    padding-right: 24px;
    z-index: 1;

    letter-spacing: 0.1px;
  }

  .project__info {
    display: flex;
    flex-direction: column;
    padding-top: 39px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 0;

    border: none;
  }

  .project--featured .project__info {
    padding-top: 42px;
  }

  .project__title {
    margin-bottom: 26px;
  }

  .project__description {
    letter-spacing: 0.2px;
  }

  .project__list {
    margin-top: auto;
  }

  .project__list-item {
    margin-bottom: 11px;
  }

  .project--featured .project__list-item {
    margin-bottom: 19px;
  }
}

@media (min-width: 1080px) {
  .project {
    position: relative;
    flex-direction: column;
    flex-basis: calc(100% / 6 * 2 - 27px);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .project--featured {
    flex-direction: row;
    flex-basis: 100%;
  }

  .project__picture {
    position: static;
    overflow: visible;
  }

  .project:first-of-type .project__image {
    display: none;
  }

  .project:first-of-type .project__image--lg {
    display: block;
    margin-left: 0;
  }

  .project .project__image-tag {
    top: 25px;
    right: -3px;
    left: unset;

    &::after {
      right: auto;
      left: -9px;

      border-right: none;
      border-left: 10px solid transparent;
    }
  }

  .project__info {
    max-height: 250px;
    padding-top: 30px;
    padding-bottom: 42px;
    padding-left: 35px;
  }

  .project--featured .project__info {
    max-height: unset;
    padding-top: 127px;
    padding-left: 40px;
    padding-bottom: 33px;
  }

  .project__list {
    margin-bottom: 0;
  }

  .project__list-item {
    margin-bottom: 0;
  }

  .project--featured .project__list-item {
    margin-bottom: 0;
  }

  .project__list-item:nth-child(2n) {
    margin-right: 36px;
  }

  .project__list-item:last-of-type {
    margin-right: 0;
  }

  .project__picture::before {
    width: 100%;
  }

  .project:nth-of-type(2) .project__picture::before {
    background-image: url("../../../img/photo-2-desktop.jpg");
  }

  .project:nth-of-type(3) .project__picture::before {
    background-image: url("../../../img/photo-3-desktop.jpg");
  }

  .project:nth-of-type(4) .project__picture::before {
    background-image: url("../../../img/photo-4-desktop.jpg");
  }
}
